@charset "UTF-8";

#container{
	margin: 25px;
}

#column1{
	border-left: 4px solid grey;
	margin-top: 5px;
	margin-right:0px;
	padding-right: 0px;
}

#column2{
	border-right: 4px solid grey;
	border-left: 4px solid grey;
	margin-top: 5px;
	width: fit-content;
}

#column3{
	border-right: 4px solid grey;
	padding: 25px;
	margin-top: 5px;
}

#navItem{
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 25px;
}




#messageContainer1{
	border-bottom: 2px solid grey;
	margin: 0px;
	padding: 10px;
}

#avi1{
	max-width: 175px;
	max-height: 175px;
	width: auto;
	height: auto;
	border-radius: 50%;
	margin: 10px;
}

#userName{
	margin-top: 20px;
}


#messageContainer2{
border-top: 2px solid grey;
	border-bottom: 2px solid grey;
	width: 100%;
	min-height: 125px;
	height: auto;
	
	display: flex;
	flex-direction: column;
	padding: 10px;
}

#avi2{
	max-width: 75px;
	max-height: 75px;
	width: auto;
	height: auto;
	border-radius: 50%;
}


#parent{
	display: flex;
	flex-direction: row;
	margin: 10px;
	
}

#child1{
	display: flex;
	justify-content: left;
	align-items: center;
	padding-left: 10px;
	padding-right: 20px;
}

#child2{
	display: flex;
	flex: 2;
	flex-direction: column;
	justify-content: left;
	align-items: left;
}

#baby{
	display: flex; 
	flex-direction: row;
	justify-content: left;
	align-items: left;
}

#date{
	position: absolute;
	right: 10px;
}

#buttons{
	display: flex;
	flex: 1;
	justify-content: right;
	margin-left: auto;
	margin-right: 10px;
}